<div mat-dialog-content class="dialog-content">{{message}}</div>
<div mat-dialog-actions class="dialog-button">
  <button mat-raised-button (click)="onClickNo()"> No</button>
  <button mat-raised-button [mat-dialog-close]="true">Si</button>
</div>
