<app-loader></app-loader>
<div class="container">
  <mat-card *ngIf="heroeForm">
    <form [formGroup]="heroeForm">
      <mat-grid-list cols="1" rowHeight="70px">

        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <mat-form-field class="input-size">
            <mat-label>Nombre</mat-label>
            <input matInput autocomplete="off" formControlName="name" #name [value]="name.value.toUpperCase()">
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <mat-form-field class="input-size">
            <mat-label>NickName (Optional)</mat-label>
            <input matInput autocomplete="off" formControlName="nickname">
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <mat-form-field class="input-size">
            <mat-label>Color (Optional)</mat-label>
            <input matInput autocomplete="off" formControlName="color">
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <mat-form-field class="input-size">
            <mat-label>Peso (Optional)</mat-label>
            <input matInput autocomplete="off" formControlName="weight">
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <mat-form-field class="input-size">
            <mat-label>Altura (Optional)</mat-label>
            <input matInput autocomplete="off" formControlName="height">
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <mat-form-field class="input-size">
            <mat-label>Pais (Optional)</mat-label>
            <input matInput autocomplete="off" formControlName="country">
          </mat-form-field>
        </mat-grid-tile>

      </mat-grid-list>

    </form>
    <div class="heroe-button">
      <button mat-flat-button color="primary" (click)="backHome()">cancelar</button>
      <button mat-flat-button color="primary" *ngIf="editHeroe" [disabled]="heroeForm.invalid"
        (click)="updateHeroe()">Guardar</button>
      <button mat-flat-button color="primary" *ngIf="!editHeroe" [disabled]="heroeForm.invalid"
        (click)="createHeroe()">Crear Heroe</button>
    </div>
  </mat-card>
</div>
