<app-loader></app-loader>
<div class="heroes-content">
  <div class="heroes-content__title">
    <h1>{{ CONST.HEROE_TITLE}}</h1>
  </div>

  <div class="heroes-body">

    <mat-form-field appearance="standard">
      <mat-label>Buscar</mat-label>
      <input matInput (keyup)="applyFilter($event)" #input>
    </mat-form-field>

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort *ngIf="heroes.length > 0">

        <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ column }}</th>
          <td mat-cell *matCellDef="let row"> {{row[column]}}
            <div *ngIf="column == CONST.ACTIONS">
              <button mat-mini-fab class="button" color="primary" matTooltip="Crear" (click)="editHeroe(row.id)">
                <mat-icon>create</mat-icon>
              </button>
              <button mat-mini-fab color="primary" matTooltip="Eliminar" (click)="deleteHeroe(row)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns; "></tr>
        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">{{ CONST.EMPTY_TABLE }} "{{input.value}}"</td>
        </tr>
      </table>

      <mat-paginator [pageSizeOptions]="[10, 25]" aria-label="Select page of users"></mat-paginator>
    </div>
  </div>
  <div class="heroes-content__add">
    <button mat-raised-button color="primary" (click)="createHeroe()">{{ CONST.HEROE_ADD }}</button>
  </div>
</div>
