table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 5%;
}


.heroes-content {
  margin: 50px 20px;
  &__title {
    text-align: center;
  }
  &__add {
    display: flex;
    justify-content: center;
    margin: 20px;
  }
}

.button {
  margin-right: 10px;
}
