.spinner-container{
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  display: flex;
  background: rgba(8, 52, 91, 0.5);
  z-index: 99999;

  .spinner_wrapper{
    margin: auto;
  }
}

