/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~@angular/material/theming";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// Start Alert Class

.success {
  background-color: rgb(61, 173, 61);
  color: white;
  text-align: center;
}

.error {
  background-color: rgb(182, 22, 22);
  color: white;
  text-align: center;
}
