<div class="breadscrum-container">
  <xng-breadcrumb separator="/" class="breadscrum-app">
    <ng-container *xngBreadcrumbItem="let breadcrumb; let info = info; let first = first">
      <mat-icon *ngIf="info"> {{ info }}</mat-icon>
      {{ breadcrumb | titlecase | uppercase}}
    </ng-container>
  </xng-breadcrumb>
</div>
