::ng-deep .breadscrum-app .xng-breadcrumb-trail {
  color: #02a5a5cc;
}


::ng-deep .xng-breadcrumb-root {
  padding: 8px 16px;
  display: inline-block;
  border-radius: 4px;
  background-color: #e7f1f1;
}

.breadscrum-container {
  margin: 20px;
}
